DATABASE_URL=postgresql://...
TVDB_API_KEY=your_tvdb_api_key
TMDB_READ_TOKEN=your_tmdb_read_access_token
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
ARCHIVED_IMPORT_USER_EMAIL=user@example.com
